{% extends "base_v2.html" %}
{% load static from staticfiles %}
{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{% static "css/result-lists.css" %}" />
{% endblock %}

{% block title %}{{block.super}}: All videos{% endblock %}
{% block page_title %}<span class="page-title">All videos</span>{% endblock %}

{% block bottom_content %}

{% if user.is_superuser %}
<h3>Users have uploaded
    {% if paginator.count %}
        <strong>{{paginator.count}}</strong>
        video{% if paginator.count > 1 %}s (showing newest first){% endif %}
    {% else %}
        <strong>no video</strong> yet
    {% endif %}
</h3>
{% include "partials/videolist.html" %}

{% else %}

<h3>You must be a superuser to access this page</h3>

{% endif %}

{% endblock %}
