{% load static from staticfiles %}
<!doctype html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Run Spot Run{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static "css/reset.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "lib/jquery-ui.min.css" %}" />
        <link rel="stylesheet" type="text/css" href="{% static "css/base.css" %}" />
        <script src="{% static "lib/jquery.min.js" %}"></script>
        <script src="{% static "lib/underscore-min.js" %}"></script>
        <script src="{% static "lib/jquery-ui.min.js" %}"></script>
        {% block header_declarations %}
        {% endblock %}
    </head>
    <body>
        <header>
            <h1>
                <a href="{% url 'landing' %}" class="rsr-type">Run<em>Spot</em>Run</a>
                {% block page_title %}{% endblock %}
            </h1>
        </header>
        
        <div id="main-contents">
            {% block content %}{% endblock %}
        </div>
        
        <footer>
            <p>University of Nottingham</p>
        </footer>
        
    </body>
</html>
