{% extends "base_v2.html" %}

{% block title %}{{block.super}}: Frequently Asked Questions{% endblock %}
{% block page_title %}<span class="page-title">Frequently Asked Questions</span>{% endblock %}

{% block bottom_content %}

<div class="two-columns">
    <div class="column">

<h3>What is it for?</h3>
<p>RunSpotRun is a new application that attempts to crowd-source video footage of marathons and running races. We want you to join the crowd of spectators filming these events with your Android phone, so we can tell the stories of the thousands of amateur and charity runners who are taking part.</p>
<p>You can use RunSpotRun to record videos of the marathon as you spectate. However, we also want you to spot runners as they stream past, by tapping in their number. You can also spot things that you just thinking are interesting happening in the race by tapping the hot button.</p>
<h3>How does it work?</h3>
<p>When you spot a runner, RunSpotRun records the time and location of the spot. If enough spectators spot the same runner over the course of the race, we can automatically create a montage video of them struggling around the course. The more spots you make, the better the story we can tell of the runner will be.</p>
<p>When you record a video it stays on your phone, so we’ll need you to upload your videos after the event. By default RunSpotRun will only upload video when you’re on WiFi, so we won’t eat your data allowance.</p>

    </div>
    <div class="column">

<h3>So what do I do?</h3>

<p>Download the RunSpotRun application on your Android phone.</p>

<p>Head to the marathon and pick your prime spectating spot.</p>

<p>Start filming and spotting runners!</p>

<p>When you get home make sure to upload your videos</p>

<p>We’ll review all of the videos (to make sure you haven’t accidentally spotted something you shouldn’t), then you’ll be able to log onto runspotrun.co.uk and checkout the videos of your friends and family taken by the crowd of spotters around the course.</p>

<h3>Who are you?</h3>

<p>We are a team of researchers from <a href="http://www.nottingham.ac.uk/" target="_blank">the University of Nottingham</a>’s <a href="http://www.nottingham.ac.uk/research/groups/mixedrealitylab/" target="_blank">Mixed Reality Lab</a> and <a href="http://www.horizon.ac.uk/" target="_blank">Horizon Digital Economy Research</a>.</p>

<p>You can get in touch with us at <a href="mailto:info@runspotrun.co.uk">info@runspotrun.co.uk</a></p>


    </div>
</div>


{% endblock %}
