{% extends "base_v2.html" %}
{% load static from staticfiles %}

{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home-login.css" %}" />
{% endblock %}

{% block title %}{{block.super}}: Dashboard{% endblock %}
{% block page_title %}<span class="page-title">Dashboard</span>{% endblock %}

{% block bottom_content %}

<div class="two-columns">
    
    <div class="column">
        <h2>My activity:</h2>
        <p>You are connected as <strong>{{user.username}}</strong></p>
    {% if videos or runnertags or hottags %}
        <p>Congratulations{% if user.first_name %} {{user.first_name}}{% endif %},
            you have uploaded {{videos}} video{% if videos > 1 %}s{% endif %}
            {% if hottags or runnertags %}and produced{% endif %}
            {% if runnertags %}{{runnertags}} runner tag{% if runnertags > 1 %}s{% endif %}{% endif %}
            {% if hottags and runnertags %}and{% endif %}
            {% if hottags %}{{hottags}} hot tag{% if hottags > 1 %}s{% endif %}{% endif %}</p>
    {%else%}
        <p>Hello{% if user.first_name %} {{user.first_name}}{% endif %},
            it looks like you haven't uploaded any videos yet!</p>
    {% endif %}
        {% if videos %}
        <p>
            <a href="{% url 'my_video_list'%}">Show my videos</a>
        </p>
        {% endif %}
        {% if runnertags or hottags %}
        <p>
            <a href="{% url 'my_tag_list'%}">Show my tags</a>
        </p>
        {% endif %}
{% if user.is_superuser %}
        <h2>Admin stuff:</h2>
        <p>
            <a href="{% url 'admin:index' %}">The framework's backoffice</a>
        </p>
        <p>
            <a href="{% url 'all_videos'%}">Show all videos</a>
        </p>
        <p>
            <a href="{% url 'all_tags'%}">Show all tags</a>
        </p>
{% endif %}
        <p class="logout">
            <a href="{% url 'django.contrib.auth.views.logout'%}?next=/home/">Log out</a>
        </p>
    </div>

    <div class="column">
        {% include "partials/searchrunner_form.html" %}
    </div>

</div>
{% endblock %}
