{% extends "base_v2.html" %}
{% load static from staticfiles %}

{% block header_declarations %}
        <link rel="stylesheet" type="text/css" href="{% static "css/landing.css" %}" />
{% endblock %}

{% block top_content %}

<div id="landing-form-wrapper">
{% if form.is_valid %}
<h3>Thanks, we'll send you an email at <strong>{{email}}</strong> when RunSpotRun is online!</h3>
{% endif %}
{% if showform %}
<form action="" method="post" id="landing-form">
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div id="landing-email-wrapper">
        {{ form.email }}
        <img id="landing-email-image" src="{% static 'images/mail.png' %}">
    </div>
    <div id="landing-submit-wrapper">
        <input id="landing-submit" type="submit" value="Register">
    </div>
{% csrf_token %}
    
</form>
{% endif %}
</div>

{% endblock %}
{% block bottom_content %}

<img src="{% static 'images/app-preview.png' %}" alt="App Preview" class="app-preview">

<p class="explanation">RunSpotRun is a new application to crowd-source video footage of marathons and running races.</p>
<p class="explanation">We want you to join the crowd of spectators filming these events with your Android phone, so we can tell the stories of the thousands of amateur and charity runners who are taking part.</p>

            
<div id="landing-about-block" class="two-columns">
    <div class="column" id="landing-runners">
        <div class="landing-about-icon">
            <h2>Runners</h2>
            <img src="{% static 'images/running.png' %}" alt="Runners">
        </div>
        <div class="landing-about-section">
            <h3>Support</h3>
            <p>Get your supporters to capture your race from start to finish.</p>
            <img src="{% static 'images/crutch-64.png' %}" alt="Support">
        </div>
        <div class="landing-about-section">
            <h3>Re-live</h3>
            <p>Re-live your own race from everybody's uploaded videos.</p>
            <img src="{% static 'images/satellite-64.png' %}" alt="Re-live">
        </div>
        <div class="landing-about-section">
            <h3>Find</h3>
            <p>Find videos of you and other runners you know.</p>
            <img src="{% static 'images/search-64.png' %}" alt="Find">
        </div>
    </div>

    <div class="column" id="landing-supporters">
        <div class="landing-about-icon">
            <h2>Supporters</h2>
            <img src="{% static 'images/supports.png' %}" alt="Supporters">
        </div>
        <div class="landing-about-section">
            <h3>Capture</h3>
            <p>Download the app to take footage of your favourite runners.</p>
            <img src="{% static 'images/camera-64.png' %}" alt="Capture">
        </div>
        <div class="landing-about-section">
            <h3>Share</h3>
            <p>Upload your videos for runners and supporters to enjoy!</p>
            <img src="{% static 'images/share-64.png' %}" alt="Tag">
        </div>
        <div class="landing-about-section">
            <h3>Tag</h3>
            <p>Tag the runners you see with their race number.</p>
            <img src="{% static 'images/tag-64.png' %}" alt="Tag">
        </div>
    </div>
</div>

{% endblock %}
