{% extends "base.html" %}

{% block content %}

{% if form.is_valid %}
<h3>Thanks, we'll send you an email at <strong>{{email}}</strong> when RunSpotRun is online!</h3>
{% endif %}
{% if showform %}
<form action="" method="post" id="landing-form" class="fullwidth-float">
    {% if form.email.errors %}
        {{ form.email.errors }}
    {% endif %}
    <div class="content-block-wrapper">
        {{ form.email }}
    </div>
    <div class="content-block-wrapper">
        <input id="landing-submit" type="submit" class="button" value="Register to find out more">
    </div>
{% csrf_token %}
    
</form>
{% endif %}
    <div class="fullwidth-float">
    <div class="content-block-wrapper">
        <div class="landing-about-block landing-runners">
            <h2>Runners</h2>
            <h3>Support</h3>
            <p>Get your supporters to capture your race from start to finish.</p>
            <h3>Find</h3>
            <p>Find videos of you and other runners you know.</p>
            <h3>Re-live</h3>
            <p>Re-live your own race from everybody's uploaded videos.</p>
            <div class="landing-credits">Photo Creative Commons CC-BY US Army</div>
        </div>
    </div>
    
    <div class="content-block-wrapper">
        <div class="landing-about-block landing-supporters">
            <h2>Supporters</h2>
            <h3>Capture</h3>
            <p>Download the app to take footage of your favourite runners.</p>
            <h3>Tag</h3>
            <p>Tag the runners you see with their race number.</p>
            <h3>Share</h3>
            <p>Upload your videos for runners and supporters to enjoy!</p>
            <div class="landing-credits">Photo Creative Commons CC-BY-SA Aurelien Guichard</div>
        </div>
    </div>
    </div>

{% endblock %}
