{% extends "base_v2.html" %}
{% load static from staticfiles %}

{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{% static "css/home-login.css" %}" />
{% endblock %}

{% block title %}{{block.super}}: Sign in{% endblock %}
{% block page_title %}<span class="page-title">Sign in</span>{% endblock %}

{% block bottom_content %}

<div class="two-columns">
    <div class="column">
        
<h2>Research and Consent</h2>

{% include "partials/consent-stuff.html" %}

{% include "partials/login.html" %}
    </div>
</div>

{% endblock %}