{% extends "base_v2.html" %}
{% load static from staticfiles %}

{% block title %}{{block.super}}: My {{tagtype}} tags{% endblock %}

{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{% static "css/result-lists.css" %}" />
{% endblock %}

{% block page_title %}<span class="page-title">My {{tagtype}} tags</span>{% endblock %}

{% block bottom_content %}

<div class="two-columns">
    <div class="column">
<h3>You have produced
    {% if paginator.count %}
        <strong>{{paginator.count}}</strong>
        {{tagtype}} tag{% if paginator.count > 1 %}s{% endif %}
    {% else %}
        <strong>no {{tagtype}} tag yet</strong>
    {% endif %}
</h3>
{% if tagtype %}
<p>out of <a href="{% url "my_tag_list" %}">a total of {{total_count}} tag(s)</a></p>
{% if tagtype == "hot" %}
<p><a href="{% url "my_tag_list" tagtype="runner" %}">Click here to list your {{runnertag_count}} runner tag(s)</a></p>
{% endif %}
{% if tagtype == "runner" %}
<p><a href="{% url "my_tag_list" tagtype="hot" %}">Click here to list your {{hottag_count}} hot tag(s)</a></p>
{% endif %}
{% else %}
<p>including <a href="{% url "my_tag_list" tagtype="hot" %}">{{hottag_count}} hot tag(s)</a> and <a href="{% url "my_tag_list" tagtype="runner" %}">{{runnertag_count}} runner tag(s)</a></p>
{% endif %}


</div>


    <div class="column">
{% if paginator.count %}
<img class="globalmap" src="http://maps.googleapis.com/maps/api/staticmap?size=360x160{% for runnertag in object_list %}&markers=label:{{forloop.counter}}%7C{{runnertag.latitude}},{{runnertag.longitude}}{% endfor %}&key={{GMAPS_API_KEY}}">
{% endif %}
    </div>
</div>

{% include "partials/taglist.html" %}

{% endblock %}
