{% extends "base_v2.html" %}
{% load static from staticfiles %}

{% block title %}{{block.super}}: {% if form.is_valid %}Tags of runner {{runner_search_form.cleaned_data.runner_number}} in {{runner_search_form.cleaned_data.event.name}}{% else %}Search for a runner{% endif %}{% endblock %}

{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{% static "css/result-lists.css" %}" />
{% endblock %}

{% block page_title %}<span class="page-title">{% if form.is_valid %}Tags of runner {{runner_search_form.cleaned_data.runner_number}} in {{runner_search_form.cleaned_data.event.name}}{% else %}Search for a runner{% endif %}</span>{% endblock %}

{% block bottom_content %}
<div class="two-columns">
    <div class="column">
{% if runner_search_form.is_valid %}
<h3>Runner
    <strong>{{runner_search_form.cleaned_data.runner_number}}</strong>
    was
    {% if paginator.count %}
        tagged
        {% if paginator.count == 1 %}
            <strong>once</strong>
        {% else %}
            <strong>{{paginator.count}}</strong> times
        {% endif %}
    {% else %}
        <strong>not</strong> tagged
    {% endif %}
    at <strong>{{runner_search_form.cleaned_data.event.name}}</strong>
</h3>
{% if paginator.count %}
<img class="globalmap" src="http://maps.googleapis.com/maps/api/staticmap?size=360x160{% for runnertag in object_list %}&markers=label:{{forloop.counter}}%7C{{runnertag.latitude}},{{runnertag.longitude}}{% endfor %}&key={{GMAPS_API_KEY}}">
{% endif %}

{% endif %}
    </div>
    <div class="column">
{% include "partials/searchrunner_form.html" %}
    </div>
</div>

{% include "partials/taglist.html" %}

{% endblock %}
