{% extends "base.html" %}

{% block content %}
<h2>Search for a runner in videos:</h2>
<form id="searchrunner-form">
    <ul class="fieldcontainer">
        {{ form.as_ul }}
    </ul>
    <div class="button-container">
        <input type="submit" value="Search" class="button" />
    </div>
    
</form>
{% if form.is_valid %}
<h3>Runner <strong>{{form.cleaned_data.runner_number}}</strong> was tagged <strong>{{object_list.count}}</strong> time{% if object_list.count > 1 %}s{% endif %} at <strong>{{form.cleaned_data.event.name}}</strong></h3>
{{object_list}}
{% endif %}
{% endblock %}
