{% extends 'base_v2.html' %}
{% load marathontags %}
{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/detail.css" />
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}lib/leaflet.css" />
    <script type="text/javascript" src="{{STATIC_URL}}lib/leaflet.js"> </script>
    <script type="text/javascript">
        var geojson = "{{video.event.geojson_url}}",
            basecoords = [
                {{video.event.latitude|default_if_none:"null" }},
                {{video.event.longitude|default_if_none:"null" }}
            ],
            locationcoords = [
            {% for d in object.videodistance_set.all %}
                [
                    {{d.reference_point.latitude}},
                    {{d.reference_point.longitude}},
                    {{d.accuracy}},
                    "{{d.reference_point.distance_kilometres|floatformat:3}}km ({{d.reference_point.distance_miles|floatformat:3}}mi)"
                ],
            {% endfor %}
            ];

    </script>
    <script type="text/javascript" src="{{STATIC_URL}}script/videodetail.js"> </script>
    {% include "partials/google_analytics.html" %}
{% endblock %}

{% block title %}{{block.super}}: Video detail{% endblock %}
{% block page_title %}<span class="page-title">Video detail</span>{% endblock %}

{% block bottom_content %}
<div class="two-columns">
    
    <div class="column">
        <h2>Video preview:</h2>
        <video src="{{object.lowres_video_url}}" controls="true"> </video>
        <p>
            <a href="{{object.url}}" target="_blank">Click here for original video</a>
        </p>
        <div id="video-map"></div>
    </div>
    
    <div class="column">
        <h2>Video metadata</h2>
        <table class="video-metadata">
            <tr>
                <th>Event:</th>
                <td>{{object.event.name}}</td>
            </tr>
            <tr>
                <th>Start time:</th>
                <td>{{object.start_time|date:"D d/m/Y H:i"}}</td>
            </tr>
            <tr>
                <th>End time:</th>
                <td>{{object.start_time|date:"D d/m/Y H:i"}}</td>
            </tr>
            <tr>
                <th>Duration:</th>
                <td>{{object.duration|minsecs}}</td>
            </tr>
            <tr>
                <th>Distance:</th>
                <td>
                {% if object.videodistance_set.exists %}
                    <ul>
                    {% if object.videodistance_set.count > 1 %}
                        <li>
                            {{object.videodistance_set.count}} possible distances
                        </li>
                    {% endif %}
                    {% for d in object.videodistance_set.all %}
                        <li>
                            {{d.reference_point.distance_kilometres|floatformat:3}}km ({{d.reference_point.distance_miles|floatformat:3}}mi)
                        </li>
                    {% endfor %}
                    </ul>
                </td>
            </tr>
            <tr>
                <th>Locations:</th>
                <td>
                    <ul class="location-list">
                {% for l in object.locations %}
                        <li>{{l.location_name}}</li>     
                {% endfor %}
                    </ul>
                {% else %}
                    Unknown
                {% endif %}
                </td>
            </tr>
        </table>
        
        <h2>Runner tags</h2>
        {% if object.runnertags.exists %}
        <ul class="tag-list">
        {% for tag in object.runnertags.all %}
            <li>
                <a href="#" data-video-time="{{tag.video_time}}" class="tag-pointer">
            {% if tag.is_hot_tag %}
                Hot tag
            {% else %}
                {% with tag.race_result as rr %}
                    {% if rr %}
                        {{rr.name}}
                        {% if rr.club %} from {{rr.club.name}}{% endif %}
                    {% else %}
                        Unknown Runner
                    {% endif %}
                {% endwith %}
                (#{{tag.runner_number}})
            {% endif %}
                at {{tag.video_time|minsecs}}
                </a>
            </li>
        {% endfor %}
        </ul>
        {% else %}
        <p>None</p>
        {% endif %}
    </div>
    
</div>

{% endblock %}
