@import url("../fonts/Roboto.css");

body {
    font-family: 'Roboto'; font-size: 13px; background: #404040; color: #ffffff;
    font-weight: 300;
}

a {
    color: #ffb060; text-decoration: none;
}

a:hover {
    color: #60b0ff; text-decoration: underline;
}

a:visited {
    color: #ff6060;
}

header {
    background: linear-gradient(to bottom, #303030, #000000);
    padding: 5px; box-shadow: 0 5px 15px #505050;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

h1 {
    font-size: 24px; max-width: 1080px; padding: 5px 10px;
    text-transform: uppercase; color: #ffffff; margin: 0 auto;
}

h1 em {
    font-style: normal; font-weight: 300; color: #ffb060; padding: 0 .1em;
}

h2 {
    font-size: 16px; font-weight: bold; margin: 10px 0 5px;
}

p {
    margin: 0.4em 0;
}

#login-form {
    display: none;
}

form li {
    margin: .5em 0;
}

label {
    display: inline-block; min-width: 120px;
}

.helptext {
    display: block; font-size: .8em;
}

.errorlist {
    font-weight: bold; color: #800000; font-size: .8em;
}

sup {
    font-size: .6em; vertical-align: super;
}

#main-contents {
    margin: 0 auto; max-width: 1080px; padding: 10px;
}

footer {
    position: fixed; left: 0; right: 0; bottom: 0; background: #000000;
    padding: 5px; box-shadow: 0 -3px 9px #505050;
}

@media (max-height: 420px) {
    footer {
        display: none;
    }
}

footer p {
    font-size: 10px; text-align: right;
}
