@import url("../fonts/Roboto.css");

body {
    font-family: 'Roboto'; font-size: 16px; background: #ffffff; color: #808080;
    font-weight: 300;
}

@media (max-width:600px) {
body { font-size: 14px; }
}

@media (max-width:420px) {
body { font-size: 13px; }
}

#top-part {
    color: #ffffff; background: #404040 url(../images/big-background.jpg) center; padding: 1.2em 0;
    background-size: cover;
}

header, #top-content-wrapper, #bottom-content-wrapper, footer {
    max-width: 1000px; margin: 0 auto; padding: 0 1em; clear: both;
}

#bottom-content-wrapper {
    padding-top: 2em;
}

a {
    color: #f39c12; text-decoration: none;
}

a:hover {
    color: #acadad; text-decoration: underline;
}

strong {
    font-weight: 900;
}

em {
    font-style: italic;
}

h1 {
    font-size: 2.25em; line-height: 1.5em;
}

h1 a:hover, h1 a:visited {
    text-decoration: none;
}

.page-title:before {
    content: "»"; padding: 0 .2em;
}

.page-title {
    font-size: .5em; font-weight: 200; line-height: 1em;
}

@media (max-width: 640px) {
    .page-title:before {
        display: none;
    }
    .page-title {
        display: block; margin-left: 2.6em;
    }
}

h2 {
    font-size: 1em; font-weight: 700; margin: .8em 0 0;
}

h3 {
    font-size: .9em; font-weight: 400; margin: .6em 0 0; line-height: 1.3em;
}

p {
    font-size: .8em; margin: .3em 0;
}

.bullet-list {
    font-size: .8em; padding-left: 1.5em;
}

.bullet-list.big-list {
    font-size: .92em;
}

.bullet-list li {
    list-style: disc; padding-left: .5em; margin: .4em 0; line-height: 1.3em;
}

input, textarea, select, button {
    font-family: inherit; font-size: inherit;
    border: none; box-sizing: border-box; color: inherit;
    padding: .5em; margin: .25em 0; width: 100%;
    background: #e0e0e0;
}

#top-part input, #top-part textarea, #top-part select, #top-part button {
    background-color: rgba(0,0,0,.5);
}

input[type=submit] {
    transition: color .5s, background .5s;
    border-radius: .5em;
}

input[type=submit]:hover {
    background-color: #f39c12 !important; color: #252525;
}

h1 img {
    height: .85em; margin-right: .2em; line-height: .8em; margin-bottom: -.02em;
}

.rsr-type {
    color: #ffffff; font-weight: 200; text-transform: capitalize;
}

.rsr-type em {
    font-style: normal; color: #f39c12;
}

.get-app-container {
    float: right; height: 3.75em;
}

@media (max-width:380px) {
    .get-app-container {
        float: none; margin-bottom: 1em;
    }
}

.get-app-container:hover {
    opacity: .8;
}

.get-app-container img {
    height: 100%;
}

.two-columns {
    display: table; width: 100%; clear: both;
}

.two-columns .column {
    width: 48%; display: table-cell; position: relative; vertical-align: top;
}

.column:first-child {
    padding-right: 2%;
}

.column:last-child {
    padding-left: 2%;
}

.column:last-child:before {
    content: "";
    position: absolute; left: 0; top: 25%; bottom: 25%; border-left: 1px solid #e0e0e0;
}

@media (max-width: 460px) {
    .two-columns {
        display: block; margin: 0;
    }
    .two-columns .column {
        display: block; width: 100%;
    }
    .column:last-child:before {
        display: none;
    }
    .column:first-child {
        padding-right: 0;
    }
    .column:last-child {
        padding-left: 0;
    }
}

.medium-width {
    max-width: 400px; margin: 0 auto;
}

.button {
    margin: .5em 0; display: block; font-size: 1em;
    line-height: 1.5em; padding: .5em; background-color: #202020;
    background-position: 6px center; background-repeat: no-repeat; text-align: center;
    box-shadow: 0 3px 6px rgba(255,255,255,.1) inset, 0 -3px 6px rgba(0,0,0,.1) inset;
    border-style: none; border-radius: .5em; font-weight: 600; color: #ffffff;
}

.button:hover {
    color: #F39C12; text-decoration: none; opacity: .8;
}

.fieldcontainer li {
    width: 100%; clear: both;
}

.fieldcontainer label {
    float: left; width: 40%; margin: .5em 0;
}

.fieldcontainer input,
.fieldcontainer select {
    padding: .25em; width: 60%;
}

.fieldcontainer input[type=checkbox] {
    margin: .1em 0;
}

.lightbox-container {
    position: fixed; background: rgba(127,127,127,.6); left: 0; top:0; bottom: 0; right: 0; display: none;
}

.lightbox-wrapper {
    max-width: 500px; margin: 0 auto; padding: 20px;
}

.lightbox-content {
    border-radius: 10px; padding: 20px;
    border: 1px solid #808080;
    box-shadow: 0 0 20px #606060;
    background: #ffffff;
}

.flag-video {
    width: 100%;
}

.flagging-textarea {
    resize: none; width: 100%;
}

.flagging-bottomline {
    text-align: right;
}

.flagging-button {
    width: 48%;
}

#cancel-flagging {
    float: left;
}

footer {
    margin: 1em auto; text-align: right; font-size: .8em;
}

footer li {
    display: inline; margin-left: .8em;
}

.highlight {
    font-weight: bold;
}
