body {
    font-family: Arial, Helvetica, sans-serif; font-size: 13px; background: #ffffff;
}

header {
    background: linear-gradient(to bottom, #8080ff, #0000cc);
    padding: 5px; box-shadow: 0 2px 4px #000080;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

h1 {
    font-size: 20px; font-weight: bold; color: #ffffff;
}

h1 em {
    font-style: normal; font-weight: normal;
}

h2 {
    font-size: 16px; font-weight: bold; margin: 10px 0 5px;
}

p {
    margin: 0.4em 0;
}

#login-form {
    display: none;
}

form li {
    margin: .5em 0;
}

label {
    display: inline-block; min-width: 120px;
}

.helptext {
    display: block; font-size: .8em;
}

.errorlist {
    font-weight: bold; color: #800000; font-size: .8em;
}

sup {
    font-size: .6em; vertical-align: super;
}

#main-contents {
    margin: 0 auto; max-width: 1080px; padding: 10px;
}

footer {
    position: fixed; left: 0; right: 0; bottom: 0; background: #000000;
    padding: 5px;
}

footer p {
    color: #ffffff; font-size: 10px; text-align: right;
}
