table.video-metadata {
    font-size: .8em; margin: .2em 0; width: 100%;
}

.video-metadata th, .video-metadata td {
    padding: .1em 0;
}
.video-metadata th {
    font-weight: 600; text-align: left;
}

video {
    max-width: 100%; min-width: 60%; margin: .3em auto; display: block;
}

.tag-list {
    font-size: .8em; margin: .2em 0;
}

.tag-list, .location-list {
    max-height: 150px; overflow: auto;
}

#video-map {
    height: 300px
}
