#landing-form-wrapper {
    display: block; max-width: 800px; margin: 5em auto;
}

#landing-form {
    display: table; width: 100%;
}

#landing-email-wrapper, #landing-submit-wrapper {
    display:table-cell;
}

#landing-email-wrapper {
    width: 60%; position: relative;
}

#landing-submit-wrapper {
    width: 30%; padding-left: 8%;
}

@media (max-width: 420px) {
    #landing-form {
        display: block;
    }
    #landing-email-wrapper, #landing-submit-wrapper {
        display:block; width: 100%; padding: 0;
    }
    #landing-submit-wrapper {
        margin-top: .6em;
    }
}

#landing-form input {
    display: block; font-size: 1.2em; font-weight: 200;
}

#landing-submit {
    border-radius: 1em;
}

#landing-email-wrapper input {
    padding-left: 2.6em;
}

#landing-email-image {
    height: 1.2em; position: absolute; left: .8em; top: 50%; margin-top: -.6em;
}

#landing-form-wrapper h3 {
    font-size: 1.2em; text-align: center;
}

#landing-about-block {
    text-align: center;
}

.landing-about-icon {
    width: 6em; height: 6em; border: 1px solid #e0e0e0; margin: .5em auto; border-radius: 4em; position: relative;
    transition: background .5s;
}

.landing-about-icon h2 {
    margin-top: 2.4em; visibility: hidden; font-weight: 800; color: #ffffff;
}

.landing-about-icon:hover {
    background: #F39C12;
}

.landing-about-icon:hover h2 {
    visibility: visible;
}

.landing-about-icon img {
    position: absolute; left: 1em; top: 1em; height: 4em; width: 4em;
    transition: opacity .5s;
}

.landing-about-icon:hover img {
    opacity: 0;
}

.landing-about-section {
    width: 50%; margin: 1.5em auto; position: relative;
}

.landing-about-section h3 {
    color: #F39C12; font-weight: 400;
}

.landing-about-section p {
    font-size: .9em;
}

.landing-about-section img {
    position: absolute; left: -30%; height: 1.6em; width: 1.6em; opacity: .5; top: 50%; margin-top: -.8em;
}
