#landing-form-wrapper {
    display: block; max-width: 800px; margin: 5em auto;
}

#landing-form {
    display: table; width: 100%;
}

#landing-email-wrapper, #landing-submit-wrapper {
    display:table-cell;
}

#landing-email-wrapper {
    width: 55%; position: relative;
}

#landing-submit-wrapper {
    width: 40%; padding-left: 3%;
}

@media (max-width: 420px) {
    #landing-form {
        display: block;
    }
    #landing-email-wrapper, #landing-submit-wrapper {
        display:block; width: 100%; padding: 0;
    }
    #landing-submit-wrapper {
        margin-top: .6em;
    }
}

#landing-form input {
    display: block; width: 100%; font-size: 1.2em; line-height: 3em; height: 3em; font-weight: 200;
}

#landing-submit {
    border-radius: 10px;
}

#landing-email-wrapper input {
    padding-left: 2.6em;
}

#landing-email-image {
    height: 1.2em; position: absolute; left: .8em; top: 1.2em;
}

#landing-form-wrapper h3 {
    font-size: 1.2em; text-align: center;
}

#landing-bottom {
    display: table; width: 100%; margin: 2em 0;
}

.landing-about-block {
    text-align: center; width: 50%; display: table-cell; position: relative;
}

.landing-about-icon {
    width: 6em; height: 6em; border: 1px solid #cccccc; margin: .5em auto; border-radius: 4em; position: relative;
}

.landing-about-icon h2 {
    margin-top: 2.4em; visibility: hidden; font-weight: 800; color: #ffffff;
}

.landing-about-icon:hover {
    background: #F39C12;
}

.landing-about-icon:hover h2 {
    visibility: visible;
}

.landing-about-icon img {
    position: absolute; left: 1em; top: 1em; height: 4em; width: 4em;
}

.landing-about-icon:hover img {
    display: none;
}

#landing-supporters:before {
    content: "";
    position: absolute; left: 0; top: 25%; bottom: 25%; border-left: 1px solid #cccccc;
}

.landing-about-section {
    width: 50%; margin: 1.5em auto; position: relative;
}

.landing-about-section h3 {
    color: #F39C12; font-weight: 800;
}

.landing-about-section p {
    font-size: .9em;
}

.landing-about-section img {
    position: absolute; left: -30%; height: 1.6em; width: 1.6em; opacity: .5; top: 50%; margin-top: -.8em;
}

@media (max-width: 420px) {
    #landing-bottom {
        display: block; margin: 0;
    }
    .landing-about-block {
        display: block; width: 100%; margin: 2em 0;
    }
    #landing-supporters:before {
        display: none;
    }
}
