.globalmap {
    display: block; max-width: 100%; margin: 1em auto 0;
}

.pagination {
    margin: .5em 0; font-size: .8em;
}

.item {
    width: 225px; margin: 4px 3px; display: inline-block; vertical-align: top; padding: 7px;
    border: 1px solid #cccccc; font-size: 13px;
    transition: background .5s;
}

.item-video {
    width: 100%; height: 170px; background: #808080; color: #ffffff;
}

.item-video p {
    font-size: 14px; text-align: center; padding-top: 30px; font-style: italic;
}

.video-tagcount p, .video-tag {
    cursor: pointer;
}

.video-tagcount p:hover, .video-tag:hover {
    color: #F39C12; text-decoration: underline;
}

.video-tags {
    display: none; max-height: 100px; overflow: auto;
}