.globalmap {
    display: block; max-width: 100%; margin: 1em auto 0;
}

.pagination {
    margin: .5em 0; font-size: .8em;
}

.item {
    width: 225px; margin: 4px 3px; display: inline-block; vertical-align: top; padding: 7px;
    border: 1px solid #cccccc; font-size: 13px;
    transition: background .5s;
}

.fullwidth-item {
    display: block; width: auto;
}

.item-video {
    width: 100%; min-height: 145px; background: #808080; color: #ffffff; text-align: center;
}

.item-video img {
    max-width: 100%; cursor: pointer; display: block; margin: 0 auto; max-height: 180px;
}

.fullwidth-item .item-video {
    height: auto;
}

.fullwidth-item .item-video img {
    display: none;
}

.item-video video {
    display: none;
}

.fullwidth-item .item-video video {
    display: block; width: 100%; height: auto; min-height: 145px; max-height: 500px;
}

.item-video p {
    font-size: 14px; padding: 2em 0; font-style: italic;
}

.video-tagcount p, .video-tag {
    cursor: pointer;
}

.video-tagcount p:hover, .video-tag:hover {
    color: #F39C12; text-decoration: underline;
}

.video-tags {
    display: none; max-height: 100px; overflow: auto;
}

.fullwidth-item .video-tags {
    max-height: 300px;
}

dt {
    font-size: 0.9em; margin-top: .2em; font-weight: 500px;
}

dd {
    font-size: 0.8em;
}
