{% extends 'base_v2.html' %}
{% load highlight %}
{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/result-lists.css" />
{% endblock %}

{% block bottom_content %}
<div class="two-columns">
    <div class="column">
    <h2>Search</h2>

    <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search" />
    </form>
    </div>
    <div class="column">
    {% if facets.fields %}
    <h2>Facets</h2>
    <dl>
    {% for facetfield,name in facets.fields.items %}
        <dt>{{name|capfirst}}</dt>
        {% for aspect in facetfield|slice:5 %}
        <dd>
            <a href="{{ request.get_full_path }}&amp;selected_facets={{name}}_exact:{{ aspect.0|urlencode }}">{{ aspect.0 }}</a>
            ({{ aspect.1 }})
        </dd>
        {% endfor %}
    {% endfor %}
    </dl>
    {% endif %}
        
    </div>
</div> 
        {% if query %}
        <h3>Results</h3>
        <ul class="item-list">
            {% for result in page.object_list %}
            <li class="item">
            <div class="item-video">
                <a href="{% url "video_detail" result.pk %}">
                    <img src="{% if result.thumbnail %}{{result.thumbnail}}{%else%}{{STATIC_URL}}images/no-thumbnail.png{% endif %}" />
                </a>
            </div>
            <ul class="video-metadata">
                {% if result.text %}
                {% highlight result.text with query %}
                {% endif %}
            </ul>
            </li>
            {% empty %}
            <p>No results found.</p>
            {% endfor %}
        </ul>
            {% if page.has_previous or page.has_next %}
        <div class="pagination">
            {% if page.has_previous %}<a href="?q={{ query }}&amp;page={{ page.previous_page_number }}">{% endif %}&laquo; Previous{% if page.has_previous %}</a>{% endif %}
            {% if page.has_next %}<a href="?q={{ query }}&amp;page={{ page.next_page_number }}">{% endif %}Next &raquo;{% if page.has_next %}</a>{% endif %}
        </div>
            {% endif %}
        {% else %}
        <p>Try typing the name or number of a runner, the name of a street, a distance or a time!</p>
        {% endif %}
{% endblock %}
