{% extends 'base_v2.html' %}
{% load highlight %}
{% block header_declarations %}
    <link rel="stylesheet" type="text/css" href="{{STATIC_URL}}css/result-lists.css" />
    {% include "partials/google_analytics.html" %}
{% endblock %}

{% block title %}{{block.super}}: Search for a video{% endblock %}
{% block page_title %}<span class="page-title">Search for a video</span>{% endblock %}

{% block bottom_content %}
    <h2>Search</h2>

    <form method="get" action=".">
        {{ form.q }}
        <input type="submit" value="Search" />
    </form>
    
    {% if facets.fields %}
    <div class="facet-column">
    <h2>Facets</h2>
    <dl>
    {% for name,facetfield in facets.fields.items %}
    {% if facetfield %}
        <dt>{{name|capfirst}}</dt>
        {% for aspect in facetfield|slice:":5" %}
        <dd>
            <a href="{{ request.get_full_path }}&amp;selected_facets={{name}}_exact:{{ aspect.0|urlencode }}">{{ aspect.0 }}</a>
            ({{ aspect.1 }})
        </dd>
        {% endfor %}
    {% endif %}
    {% endfor %}
    </dl>
    </div>
    
    {% endif %}
        {% if query %}
        <h2>{{paginator.count}} Results</h2>
{%include "partials/search-pagination.html" %}
        <ul class="item-list">
            {% for result in page.object_list %}
            <li class="item">
            <div class="item-video">
                <a href="{% url "video_detail" result.pk %}">
                    <img src="{% if result.thumbnail %}{{result.thumbnail}}{%else%}{{STATIC_URL}}images/no-thumbnail.png{% endif %}" />
                </a>
            </div>
            <ul class="video-metadata">
                {% if result.text %}
                {% highlight result.text with query %}
                {% endif %}
            </ul>
            </li>
            {% empty %}
            <p>No results found.</p>
            {% endfor %}
        </ul>
{%include "partials/search-pagination.html" %}
        {% else %}
        <p>Try typing the name or number of a runner, the name of a street, a distance or a time!</p>
        {% endif %}
{% endblock %}
