
<h3>The research project</h3>
<p>We are a group of researchers from the University of Nottingham conducting a research project that has been funded by a grant from Google/YouTube investigating the capture of spectator videos of a marathon.</p> 
<p>We are investigating how spectators can capture video coverage of runners, and subsequently create online experiences that can document the individual runner’s race.  We are testing RunSpotRun to capture the Nottingham Robin Hood half marathon.</p> 

<h3>Data collection</h3>
<p>We will be using RunSpotRun to collect data from your Android phone:</p>
<ul class="bullet-list">
    <li>We will gather the videos that you upload using the RunSpotRun application.</li>
    <li>We will record the time and location of any spots of runners that you enter with the RunSpotRun application, and date capturing your movements while you are using the RunSpotRun application. RunSpotRun does not collect any data when you are not explicitly using it.</li>
</ul>
<p>Data collected will be held in a secure and safe manner in accordance with the Data Protection Act 1998. You have the right to request that your personal data be destroyed at anytime. The data will be stored in a securely with password protection at the University of Nottingham.</p> 
<p>Your personal identity will not be made public in written work, discussions or presentations. Where it is necessary to refer to you then it will be done anonymously in order to preserve your privacy and confidentiality.</p>
<p>The data collected by RunSpotRun will only be directly accessible by the researchers. Copies will not be passed to other parties.</p>
<p>We may, only with your specific agreement, make the videos that you have taken publically available online. We will specifically ask you before we do this.</p>

{% if not break_before_consent %}
</div>
<div class="column">
{% endif %}

<h3>Questions</h3>
<p>If there is anything which you don’t understand or are concerned about please feel free to us questions before, during or after the event, by emailing Martin Flintham <a href="mailto:martin.flintham@nottingham.ac.uk">martin.flintham@nottingham.ac.uk</a></p>

<h3>Withdrawing from the study</h3>
<p>Before, during or after the event you are free to withdraw without explanation and any data that you have created will be deleted.  Just inform us via the email address above. You can delete the RunSpotRun application at any time.</p>

{% if break_before_consent %}
</div>
<div class="column">
{% endif %}

<h3>Your consent</h3>
<p>By using the RunSpotRun application you agree to the following:</p>
<ul class="bullet-list big-list">
    <li>I have read and understand the information on this page.</li>
    <li>I understand that RunSpotRun will gather data on my personal movements while I am using it.</li>
    <li>I understand that I can withdraw at any time by contacting the RunSpotRun team, and my personal data will be erased from the records.</li>
    <li>I confirm that I am over the age of 16.</li>
</ul>