<div class="medium-width">
<form method="post" id="login-form">
    
    {% csrf_token %}

    <ul>
        {{ login_form.as_ul }}
    </ul>
    
    <div class="button-container">
        <input type="submit" value="login" />
    </div>

</form>
<h2>Log in using a third-party account:</h2>
<ul>
    <li>
        <a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}" class="button fb-login">Sign in with Facebook</a>
    </li>
    <li>
        <a rel="nofollow" href="{% url "socialauth_begin" "google-oauth2" %}" class="button google-login">Sign in with Google</a>
    </li>
    <li>
        <a rel="nofollow" href="{% url "socialauth_begin" "twitter" %}" class="button twitter-login">Sign in with Twitter</a>
    </li>
</ul>
<h2>Not a user yet?</h2>
<a class="button" href="{% url 'signup' %}">Create your <span class="rsr-type">Run<em>Spot</em>Run</span> account</a>
</div>