{% if paginator.num_pages > 1 %}
<div class="pagination">
    Showing results {{ page_obj.start_index }}-{{ page_obj.end_index }} of {{paginator.count}}
    &mdash; Pages:
    {% if page_obj.has_previous %}
        <a href="?page={{ page_obj.previous_page_number }}">&laquo; Previous</a>
    {% endif %}
    
    {% if page_obj.number > 5 %}
        <a href="?page=1">1</a>
        {% if page_obj.number > 6 %}
        &hellip;
        {% endif %}
    {% endif %}
    
    {% for p in paginator.page_range %}
    {% if p == page_obj.number %}
        <strong>
            {{p}}
        </strong>
    {% else %}
        {% if p > page_obj.number|add:-5 and p < page_obj.number|add:5 %}
        <a href="?page={{ p }}">{{p}}</a>
        {% endif %}
    {% endif %}
    {% endfor %}
    
    {% if page_obj.number < paginator.num_pages|add:-4 %}
        {% if page_obj.number < paginator.num_pages|add:-5 %}
        &hellip;
        {% endif %}
        <a href="?page={{paginator.num_pages}}">{{paginator.num_pages}}</a>
    {% endif %}    
    
    {% if page_obj.has_next %}
        <a href="?page={{ page_obj.next_page_number }}">Next &raquo;</a>
    {% endif %}
</div>
{% endif %}