{% extends "base.html" %}

{% block title %}{{block.super}}: Sign in{% endblock %}

{% block header_declarations %}
<script type="text/javascript">
    $(function() {
        $("a[href^=#]").click(function() {
            $($(this).attr("href")).slideToggle();
        });
    });
</script>
{% endblock %}

{% block content %}

{% if form.errors %}
<p>Your username and password didn't match. Please try again.</p>
{% endif %}

<h2>Connect with 3<sup>rd</sup>-party providers</h2>
    <ul>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "twitter" %}">Twitter</a></li>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}">Facebook</a></li>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "google-oauth2" %}">Google</a></li>
    </ul>
<h2><a href="#login-form">Connect with a RunSpotRun login</a></h2>
<form method="post" action="{% url 'django.contrib.auth.views.login' %}" id="login-form">
{% csrf_token %}
{{ form.as_ul }}
<input type="submit" value="login" />
<input type="hidden" name="next" value="{{ next }}" />
<p><a href="{% url 'signup' %}">Create your RunSpotRun account</a></p>
</form>
{% endblock %}