{% extends "base.html" %}

{% block title %}{{block.super}}: Sign in{% endblock %}
{% block page_title %}<span class="page-title">Sign in</span>{% endblock %}

{% block header_declarations %}
<script type="text/javascript">
    $(function() {
        if (document.location.hash) {
            $("#signin-providers,#login-form").hide();
            $(document.location.hash).show();
        }
        $(".rsr-login,.back-button").click(function() {
            $("#signin-providers,#login-form").slideToggle();
            return false;
        });
    });
</script>
{% endblock %}

{% block content %}

<ul id="signin-providers">
    <li class="button-container">
        <a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}" class="button fb-login">Sign in with Facebook</a>
    </li>
    <li class="button-container">
        <a rel="nofollow" href="{% url "socialauth_begin" "google-oauth2" %}" class="button google-login">Sign in with Google</a>
    </li>
    <li class="button-container">
        <a rel="nofollow" href="{% url "socialauth_begin" "twitter" %}" class="button twitter-login">Sign in with Twitter</a>
    </li>
    <li class="button-container">
        <a href="{% url 'django.contrib.auth.views.login' %}#login-form" class="button rsr-login">Sign in with <span class="rsr-type">Run<em>Spot</em>Run</span></a>
    </li>
</ul>

<form method="post" action="{% url 'django.contrib.auth.views.login' %}#login-form" id="login-form">
    <div>
        <a href="#signin-providers" class="back-button">&laquo;</a>
    </div>
    
    {% csrf_token %}

    <ul class="fieldcontainer">
        {{ form.as_ul }}
    </ul>
    
    <div class="button-container">
        <input class="button" type="submit" value="login" />
    </div>

    <input type="hidden" name="next" value="{{ next }}" />

    <h2>Not a user yet?</h2>
    <div class="button-container">
        <a class="button" href="{% url 'signup' %}">Create your <span class="rsr-type">Run<em>Spot</em>Run</span> account</a>
    </div>

</form>
{% endblock %}