{% extends "base.html" %}

{% block title %}{{block.super}}: Create new user profile{% endblock %}

{% block content %}

<h2>Create an account</h2>

<form action="" method="post">
{{ form.as_ul }}
{% csrf_token %}
    <input type="submit" value="Create the account">
</form>


<h2>You may also register using a 3<sup>rd</sup>-party provider</h2>
    <ul>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "twitter" %}">Twitter</a></li>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "facebook" %}">Facebook</a></li>
        <li><a rel="nofollow" href="{% url "socialauth_begin" "google-oauth2" %}">Google</a></li>
    </ul>
<h2>

{% endblock %}