{% extends "base.html" %}

{% block title %}{{block.super}}: Create an account{% endblock %}
{% block page_title %}<span class="page-title">Create an account</span>{% endblock %}

{% block content %}

<h2>Create an account</h2>

<form action="" method="post">
    <ul class="fieldcontainer">
        {{ form.as_ul }}
    </ul>

{% csrf_token %}
    <div class="button-container">
        <input type="submit" value="Create the account" class="button">
    </div>
    
</form>


<p>
    <a href="{% url 'django.contrib.auth.views.login' %}">Return to the login page to create an account through a 3<sup>rd</sup>-party provider</a>
</p>

{% endblock %}